
<div class="form-group">
  <input type="text" [(ngModel)]="title" class="form-control" id="title" placeholder="Titre">
</div>
<button mat-raised-button color="primary" (click)="onChangeLanguageToJava()">JAVA ☕️</button>
<button mat-raised-button color="primary" (click)="onChangeLanguageToPython()">PYTHON 🐍</button>
<button mat-raised-button color="primary" (click)="onChangeLanguageToCpp()">C++ 🚮️</button>

<div style="width: 600px; height: 200px">
  <ngx-monaco-editor style="width: 100%; height: 100%" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
</div>
<button mat-stroked-button (click)="onRunCode()">RUN</button>

<p style="white-space: pre-wrap">output: {{ output }}</p>
<div class="form-group center" >
  <mat-form-field appearance="fill">
    <mat-label>Relier a un groupe</mat-label>
    <mat-select name="group" formControlName="group" id="groupValue">
      <mat-option *ngFor="let group of groupList" [value]="group.idGroup">
        {{group.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-card-actions>
  <div class="center">
    <button type="submit" mat-raised-button color="primary"  (click)="submitPostForm()">
      Valider
    </button>
  </div>
</mat-card-actions>
