<div class="form-group">
  <input type="text" class="form-control" id="title" formControlName="title" placeholder="Titre">
</div>

<button (click)="onChangeLanguageToJava()">JAVA ☕️</button>
<button (click)="onChangeLanguageToPython()">PYTHON 🐍</button>
<button (click)="onChangeLanguageToCpp()">C++ 🚮️</button>

<div style="width: 600px; height: 200px">
  <ngx-monaco-editor style="width: 100%; height: 100%" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
</div>
<button (click)="onRunCode()">RUN</button>

<p style="white-space: pre-wrap">output: {{ output }}</p>

<mat-card-actions>
  <div class="center">
    <button type="submit" mat-raised-button color="primary">
      Valider
    </button>
  </div>
</mat-card-actions>
