<mat-grid-list cols="2" rowHeight="2:1">

  <mat-grid-tile>
    <mat-card>
      <mat-card-content style="width: 500px ;height: 200px">
        <mat-card-title>
          <p>Nombre de posts : {{posts.length}}</p>

        </mat-card-title>
        <mat-card-title>
          <p>Nombre d'utilisateurs : {{users.length}}</p>
        </mat-card-title>

        <mat-card-title>
          <p>Nombre de groupes : {{groups.length}}</p>
        </mat-card-title>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="width: 500px ;height: 400px">
      <div>
        <div>
          <div>
            <canvas
              baseChart
              [datasets]="pieChartData"
              [labels]="pieChartLabels"
              [options]="pieChartOptions"
              [legend]="true"
              >
            </canvas>
          </div>
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
