<app-create-post></app-create-post>
<div class="container d-flex align-items-center justify-content-center" style="margin-top: 20px;">
  <div *ngIf="posts && posts.length > 0">
    <ul *ngFor=" let post of posts">
      <li>
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Seenix</mat-card-subtitle>
            <mat-card-subtitle>Posté il y a 30 min</mat-card-subtitle>
            <mat-card-title>
              <h5> {{post.title}}</h5>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <img style="height: 300px"
                 src="https://img.lemde.fr/2016/08/04/0/13/534/267/1440/720/60/0/a9b1471_17806-xsb5q2.jpg"
                 alt="">
          </mat-card-content>
          <mat-card-footer style="padding-bottom: 10px">
            <ul class="d-flex justify-content-sm-around">
              <li>
                <button mat-button>
                  <mat-icon>thumb_up</mat-icon>
                  J'aime
                </button>
              </li>
              <li>
                <button mat-button routerLink="post/comment">
                  <mat-icon>mode_comment</mat-icon>
                  Commentaires
                </button>
              </li>
              <li>
                <button mat-button>
                  <mat-icon>share</mat-icon>
                  Partager
                </button>
              </li>
            </ul>
          </mat-card-footer>
        </mat-card>
      </li>
    </ul>
  </div>
</div>

