<mat-card-content>
    <form [formGroup]="postForm">
      <div class="form-group">
        <input type="text" class="form-control" id="title" formControlName="title" placeholder="Titre">
      </div>
      <div class="form-group">
        <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
      </div>
      <br>
      <div class="form-group center" >
        <mat-form-field appearance="fill">
          <mat-label>Relier a un groupe</mat-label>
          <mat-select name="group" formControlName="group">
            <mat-option *ngFor="let group of groupList" [value]="group.idGroup">
              {{group.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-card-actions>
        <div class="center">
          <button type="submit" mat-raised-button color="primary" [disabled]="!postForm.valid" (click)="submitPostForm()">
            Valider
          </button>
        </div>
      </mat-card-actions>
    </form>
</mat-card-content>
