<div>
<div class="container d-flex align-items-center justify-content-center" style="margin-top: 20px;">
  <mat-card style="height: 400px">
    <mat-card-header>
      <mat-card-subtitle>{{post.user.firstName}}</mat-card-subtitle>
      <mat-card-subtitle>Posté le {{post.createdDate}}</mat-card-subtitle>
      <mat-card-title>
        <h5> {{post.title}}</h5>
      </mat-card-title>
    </mat-card-header>

    <div *ngIf="post.code !== null">
      <div style="width: 600px; height: 200px">
        <ngx-monaco-editor style="width: 100%; height: 100%" [options]="editorOptions" [(ngModel)]="post.code.content"></ngx-monaco-editor>

        <button (click)="onRunCode()">RUN</button>

        <p style="white-space: pre-wrap">output: {{ output }}</p>
      </div>
    </div>
    <mat-card-content *ngIf="post.text !== null">
      <p> {{post.text.content}}</p>
    </mat-card-content>
  </mat-card>
</div>
<mat-card class="" style="margin-top: 10px;">
  <ul *ngFor=" let remark of remarks">
    <div class="card border-light w-50">
      <mat-card-subtitle>{{remark.name}}</mat-card-subtitle>
      {{remark.content}}
    </div>
  </ul>

  <form [formGroup]="commentForm">
    <div class="card border-light w-50">
      <div class="card-body">
        <input type="text" class="form-control" id="content" formControlName="content" aria-describedby="emailHelp"
               placeholder="Ecrire Un Commentaire">
        <button type="submit" mat-raised-button color="primary" [disabled]="!commentForm.valid"
                (click)="submitCommentForm()">
          Publier
        </button>
      </div>
    </div>
  </form>
</mat-card>
</div>
