<mat-toolbar color="primary">
  <a routerLink="/">Palit</a>
  <div class="spacer"></div>

  <a mat-button routerLink="auth/login">Se Connecter</a>

  <a mat-button routerLink="auth/register">S'inscrire</a>

  <form class="d-flex">
    <input class="form-control me-sm-2" type="text" placeholder="Recherche...">
  </form>
</mat-toolbar>


  <ng-template [ngIf]="isLogged" [ngIfElse]="loggedOut">
    <app-dashboard-connected></app-dashboard-connected>
  </ng-template>

  <ng-template #loggedOut>
    <app-dashboard-not-connected></app-dashboard-not-connected>
  </ng-template>

