@import '~@angular/material/theming';
@include mat-core();

ul{
  list-style:none;
}

a{
  text-decoration: none;
}

mat-chip {
  height: 2px;
  padding: 3px 7px !important;
}

.mat-standard-chip {
  height: 1px !important;
}

