
<div class="container">
  <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
   <div class="col-4">
      <mat-card>
        <mat-card-title> nom du group </mat-card-title>
        <mat-card-subtitle> theme du group </mat-card-subtitle>
      </mat-card>
   </div>
    <div class="col-4">
      <mat-card>
        <ul class="container d-flex align-items-center justify-content-between">
          <li>
            <mat-card-title> Anime Même </mat-card-title>
            <mat-chip-list>
              <mat-chip color="accent" selected> Humour </mat-chip>
              <mat-chip color="warn" selected> Anime </mat-chip>
            </mat-chip-list>
            </li>
          <li>
            <mat-card-content> Membres: </mat-card-content>
            <mat-card-content style="text-align: center"> 4 </mat-card-content>
          </li>
        </ul>
        <mat-card-content>An anime meme subreddit that's friendly for women, queer people, and generally marginalized anime fans who want a break from how toxic anime spaces usually are. Of course, anyone is welcome, but be respectful to the intention of the space. Also consider joining us on discord! https://discord.com/invite/axisorder</mat-card-content>
        <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/F382/production/_123883326_852a3a31-69d7-4849-81c7-8087bf630251.jpg" mat-card-image>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card>
        <mat-card-title> nom du group </mat-card-title>
        <mat-card-subtitle> theme du group </mat-card-subtitle>
      </mat-card>
    </div>
  </div>
</div>
