<mat-card>
  <mat-card-header class="center">
    <mat-card-title>
      <h3>REGISTER</h3>
      <hr>
    </mat-card-title>
  </mat-card-header>
  <div class="center">
  </div>
  <div class="container d-flex align-items-center justify-content-center">
    <form [formGroup]="registerForm">
      <mat-card-content>
        <div class="form-group">
          <input type="password" class="form-control" id="firstName" formControlName="firstName" placeholder="Prénom">
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="form-group">
          <input type="password" class="form-control" id="lastName" formControlName="lastName" placeholder="Nom">
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="form-group">
          <input type="email" class="form-control" id="mail" formControlName="mail" aria-describedby="emailHelp"
                 placeholder="Entrez votre email">
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="form-group">
          <input type="password" class="form-control" id="password" formControlName="password"
                 placeholder="Mot de passe">
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="center">
          <button type="submit" mat-raised-button color="primary" [disabled]="!registerForm.valid"
                  (click)="submitRegisterForm()">
            Inscription
          </button>
        </div>
      </mat-card-actions>
    </form>
  </div>
</mat-card>
